[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
ptpython = "*"
clipboard = "*"
scipy = "*"
matplotlib = "*"
scikit-image = "*"
pychrome = "*"
edlib = "*"
pylint = "*"
mypy = "*"
sklearn = "*"
numba = "*"
dill = "*"

[dev-packages]

[requires]
python_version = "3.6"
